body {
  font-family: 'Roboto', sans-serif;
 box-sizing: border-box;
}

nav {
  position: fixed;
  height: 60px;
  left: 0;
  right: 0;
  top: 0;
  background: darkblue;
  display: flex;
  justify-content: space-around;
  align-items: center;

  a {
    color: #fff;
    text-decoration: none;
    margin-left: 2rem;
    font-size: 1rem;

    &:hover {
      color: chartreuse;
      border-bottom: solid 1px chartreuse;
    }

  }

}

main {
  text-align: center;
  margin-top: 60px;
  padding: 1rem;

  .button {
    margin-left: 1rem;
    background: burlywood;
    padding: 0.8rem;
    font-size: 1rem;
    border: darkblue;
    cursor: pointer;
    &:hover {
      background: antiquewhite;
      border: solid 2px coral;
    }
  }

  li {
    list-style-type: none;
    margin-bottom: 1rem;

    a {
      font-size: 1.5rem;
    }

    a:hover {
      color: crimson;

    }


  }

  .loader {
    color: red;
    -webkit-animation: loader 1s linear infinite;
    animation:loader 1s linear infinite;
    font-weight: bold;
    color: #F00;
  }
  @-webkit-keyframes loader {
    0% { color: #F00; }
    50% { color: #FBB; }
    100% { color: #F00; }
  }

  @keyframes loader {
    0% { color: #F00; }
    50% { color: #FBB; }
    100% { color: #F00; }
  }


}

footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  border: solid 1px black;

  ul {
    display: flex;
    transition: all 1s ease;

    li {
      list-style-type: none;

      a {

        margin-left: 1rem;
        text-decoration: none;
      }
      a:hover {
        color: red;
        text-decoration: overline;
      }

    }
  }

}